<div class="shadow-lg rounded-lg p-3">
        <div class="ml-3">
                <span class="block font-thin  text-xs text-gray-400">
                    Registrations
                </span>
                <span class="block font-semibold text-xl">
                    3.9K
                </span>
                <span class="block">
                    <span class="text-green-600">
                        <i class="fa-solid fa-sort-up mt-1"></i> +21%  
                    </span> 
                    <span class="text-xs text-gray-400"> 
                        since last week
                    </span>
                </span>
        </div>
</div>
<div class="shadow-lg rounded-lg p-3">
        <div class="ml-3">
                <span class="block font-thin  text-xs text-gray-400">
                    Page Views
                </span>
                <span class="block font-semibold text-xl">
                    1.2M
                </span>
                <span class="block">
                    <span class="text-green-600">
                        <i class="fa-solid fa-sort-up mt-1"></i> +21%  
                    </span> 
                    <span class="text-xs text-gray-400"> 
                        since last week
                    </span>
                </span>
        </div>
</div>
<div class="shadow-lg rounded-lg p-3">
        <div class="ml-3">
                <span class="block font-thin  text-xs text-gray-400">
                    Invited
                </span>
                <span class="block font-semibold text-xl">
                    0
                </span>
                <span class="block">
                    <span class="text-green-600">
                        <i class="fa-solid fa-sort-up mt-1"></i> +21%  
                    </span> 
                    <span class="text-xs text-gray-400"> 
                       No invites sent yet
                    </span>
                </span>
        </div>
</div>
<div class="shadow-lg rounded-lg p-3">
        <div class="ml-3">
                <span class="block font-thin  text-xs text-gray-400">
                    Revenue
                </span>
                <span class="block font-semibold text-xl">
                    $12.6K
                </span>
                <span class="block">
                    <span class="text-green-600">
                        <i class="fa-solid fa-sort-up mt-1"></i> +11%  
                    </span> 
                    <span class="text-xs text-gray-400"> 
                        since last week
                    </span>
                </span>
        </div>
</div>
<div class="shadow-lg rounded-lg p-3">
        <div class="ml-3">
                <span class="block font-thin  text-xs text-gray-400">
                    Attendees
                </span>
                <span class="block font-semibold text-xl">
                    2.8K
                </span>
                <span class="block">
                    <span class="text-red-600">
                        <i class="fa-solid fa-sort-down mt-1"></i> -2%  
                    </span> 
                    <span class="text-xs text-gray-400"> 
                        since last week
                    </span>
                </span>
        </div>
</div>
<div class="shadow-lg rounded-lg p-3">
        <div class="ml-3">
                <span class="block font-thin text-xs text-gray-400">
                    Conversion Rate
                </span>
                <span class="block font-semibold text-xl">
                    86%
                </span>
                <span class="block">
                    <span class="text-green-600">
                        <i class="fa-solid fa-sort-up mt-1"></i> +5%  
                    </span> 
                    <span class="text-xs text-gray-400"> 
                        since last week
                    </span>
                </span>
        </div>
</div>