<div class="flex justify-between">
    <div class="text-gray-700 text-sm">
        Top sessions
    </div>
    <div class="text-gray-600 text-sm">
        <a> By attendance <i class="fa fa-angle-down"></i></a>
    </div>
</div>
<div class="mt-4">
        <div class="mb-4">
            <div class="flex justify-between mb-2">
            <span class="text-gray-700 text-xs">Keynote - The future of remote work</span> <span class="text-gray-500 text-sm">102</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700">
                <div class="bg-green-400 h-1.5 rounded-full dark:bg-gray-300" style="width: 45%"></div>
            </div>
        </div>
        <div class="mb-4">
            <div class="flex justify-between mb-2">
            <span class="text-gray-700 text-xs">The remote future is already here...</span> <span class="text-gray-500 text-sm">102</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700">
                <div class="bg-green-400 h-1.5 rounded-full dark:bg-gray-300" style="width: 45%"></div>
            </div>
        </div>
        <div class="mb-4">
            <div class="flex justify-between mb-2">
            <span class="text-gray-700 text-xs">Defining careers progression model</span> <span class="text-gray-500 text-sm">102</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700">
                <div class="bg-green-400 h-1.5 rounded-full dark:bg-gray-300" style="width: 45%"></div>
            </div>
        </div>
        <div class="text-purple-600 text-xs">
           <a> More details <i class="fa fa-arrow-right"></i></a>
        </div>
</div>