{% load static %}
<div class="w-full flex justify-between">
        <div class="inline-flex items-center">
            <div>
                <a href="#" class="no-underline text-pink-400 bg-pink-200 rounded h-10 w-10 flex justify-center items-center">
                    <i class="fas fa-video fa-fw"></i>
                </a>
            </div>
            <div class="ml-3">
                <span class="block font-thin text-gray-400">
                    Summit
                </span>
                <span class="block font-semibold text-lg">
                    Passion Economy 2021
                </span>
            </div>
        </div>
        <div>
            <button class="mr-3 bg-purple-400 text-white py-2 px-4 rounded-lg">
                <i class="fa fa-copy mr-1"></i>    
                Copy link
            </button>
            <button class="mr-3 bg-purple-400 text-white py-2 px-4 rounded-lg">
                Manage event
                <i class="fa fa-arrow-right ml-1"></i>
            </button>
        </div>
    </div>
    <div class="flex flex-row justify-between w-11/12 m-auto mt-2">
     
            <div>
                <span class="block font-thin text-sm text-gray-400">
                    Event Stats
                </span>
                <span class="block text-sm text-gray-700">
                   Ended
                </span>
            </div>
            <div>
                <span class="block font-thin text-sm text-gray-400">
                    Date
                </span>
                <span class="block text-sm text-gray-700">
                    18 Aug - 20 Aug, 2021
                </span>
            </div>
            <div>
                <span class="block font-thin text-sm text-gray-400">
                    Ticket Price
                </span>
                <span class="block text-sm text-gray-700">
                    FREE
                </span>
            </div>
            <div>
                <span class="block font-thin text-sm text-gray-400">
                    Presenters
                </span>
                <span class="block">
                        <img src="{% static 'images/presenters.png' %}" alt="Presenters" class="w-32">
                </span>
            </div>

            <div>
                <span class="block font-thin text-sm text-gray-400">
                    Sessions
                </span>
                <span class="block text-sm text-gray-700">
                    4
                </span>
            </div>
    </div>
</div>